* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Arial, serif;
}

#banner {
  margin-top: 20px;
  margin-bottom: 20px;
}

#hr-banner {
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: blue;
  border-width:
}

.dropdown-heading {
  margin: 2px;
}

#p1-right-row-1 {
  font-size: 20px;
  color: blue;
}

#p1-right-row-2 {
  font-size: 20px;
  color: #00b8e6;
}

.column {
  padding: 0px 5px;
}
