<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>Menu</h1>
      </div>
      <br>
      <hr>
        <label>Welcome, <%= user.username %>.</label>
      <hr>
      <label>This is not you?</label>
      <br/>
      <a href="/logout" class="btn btn-danger">Logout</a>
      <br/>
      <hr>
    </div>
  </div>
<% include ../partials/footer %>
